/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

/* tailwind layers  */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:'Ubuntu',sans-serif;
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family:'Ubuntu',sans-serif;
}
input {
  border:none;
  outline:none;
}
img {
  cursor:pointer;
}